<header>The Burger Shop</header>
<p> Burger is health food!</p>

<section class="row">
  <aside class="col-6 burgerAside">
    <h2>Want some burgers?</h2>

    <ul>
      {{#each burger}}
      {{#unless devoured}}
      {{> temp}}
      {{/unless}}
      {{/each}}
    </ul>
  </aside>

  <aside class="col-6 devouredAside">
    <h2>You finished!</h2>

    <ul>
      {{#each burger}}
      {{#if devoured}}
      {{> temp}}
      {{/if}}
      {{/each}}
    </ul>
  </aside>


  <footer>
    <h2>Add some burgers</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burger">Name your burger:</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="form-group">
        {{!-- <label for="Devoured">Devoured?</label><br> --}}
        <input type="radio" name="Devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="Devoured" value="0"> Not today
      </div>

      <button type="submit">Add burgers</button>
    </form>
  </footer>
</section>